#bg1 {
    background-image: url("images/galaxy.jpg");
    background-size: cover;
}

.text {
    color: black;
    text-align: center;
    background:#FFFFFF;
    margin: 50px 100px;
    padding: 10px;
}

#asteroid {
    width: 300px;
    float: right;
    display: block;
}

#astronomers {
    width: 300px;
    float: right;
    display: block;
}

h1 {
    color: purple;
}

span {
  color: purple;  
}

